<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Add new post</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/forum.css">
</head>
<body style="background-color: rgb(230, 238, 255);">
<nav class="navbar is-white topNav" style="background-color: rgb(232, 248, 245);">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <div class="media-left">
                    <p class="image is-100x100">
                        <img th:src="@{/logo/logo.png}"/>
                    </p>
                </div>
            </a>


            <div class="navbar-burger burger" data-target="topNav">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="topNav" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" th:href="@{/}">Home</a>
            </div>
            <div class="navbar-end">
            </div>
        </div>
    </div>
</nav>
<br><br><br>
<div class="container is-fullheight">
    <div class="columns is-centered">
        <div class="column is-5-desktop" >

            <form class="box" action="#" th:action="@{/post/new}" th:object="${post}" enctype="multipart/form-data" method="post">
                <div class="content is-medium">
                    <h1>Add post</h1>
                </div>
                <p>
                    <label class="label">Title</label>
                    <input type="text" th:field="*{title}" class="form-control" placeholder="Insert title" required autofocus>
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                </p>
                <div>
                    <br>
                </div>
                <p>
                    <label class="label">Meta Title</label>
                    <input type="text" th:field="*{metaTitle}" class="form-control" placeholder="Insert meta title">
                    <p th:if="${#fields.hasErrors('metaTitle')}" th:errors="*{metaTitle}"></p>
                </p>
                <div>
                    <br>
                </div>
                <p>
                    <label class="label">Summary</label>
                    <input type="text" th:field="*{summary}" class="form-control" placeholder="Insert summary" required>
                    <p th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}"></p>
                </p>
                <div>
                    <br>
                </div>

                <input type="checkbox" name="published" checked="checked">

                <span class="tag is-primary is-light">Publish? </span>
                <input type="date" th:field="*{publishedAt}" >
                <p th:if="${#fields.hasErrors('publishedAt')}" th:errors="*{publishedAt}"></p>
                <div>
                    <br>
                </div>

                <div class="field">
                    <label class="label">Add content</label>
                    <div class="control">

                <textarea class="textarea is-large" type="text" th:field="*{content}" placeholder="Write content for your blog post" required>
                    <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p></textarea>

                    </div>
                </div>

                <p>

                    <label class="label">Upload image</label>
                    <span class="tag is-primary is-light">
                    <input type="file" name="image" accept="image/*" class="form-control-file">
                        </span>
                </p>
                <br>
                <button class="button is-primary is-fullwidth has-text-weight-medium is-medium" type="submit">Save post</button>
            </form>
        </div>
    </div>
</div>
<br><br><br><br>
<br>
<footer class="footer" style="background-color: rgb(232, 248, 245);">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns is-mobile is-centered">
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-primary" href="http://localhost:8080/">Web Blog M&C</a>
                            <span class="tag is-light">Valerija & Matija</span>
                        </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-primary" href="https://github.com/3Dbits/WebBlog_Project">Read more:</a>
                            <span class="tag is-light">Source code &nbsp;<i class="fa fa-github"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
