<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Blog V&M </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/forum.css">
</head>
<body style="background-color: rgb(230, 238, 255);">
<nav class="navbar is-white topNav" style="background-color: rgb(232, 248, 245);">
    <div class="container">
        <div class="container">
            <div id="topNav" class="navbar-menu">
                <div class="navbar-start">
                    <div class="media-left">
                        <p class="image is-84x84 navbar-item">
                            <img th:src="@{/logo/logo.png}"/>
                        </p>
                    </div>
                    <span>
        <a class="navbar-item" th:href="@{/}">Home</a>
          </span>
                    <span sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="navbar-item" th:href="@{/users}">Users</a>
          </span>
                    <span sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="navbar-item" th:href="@{/posts}">Control</a>
          </span>
                </div>
                <div class="navbar-end">
        <span sec:authorize="!isAuthenticated()">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-small is-responsive" th:href="@{/user/register}">
										<span class="icon">
											<i class="fa fa-user-plus"></i>
										</span>
                <span>
											Register
										</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-small is-info is-outlined is-responsive" th:href="@{/login}">
										<span class="icon">
											<i class="fa fa-user"></i>
										</span>
                <span>Login</span>
              </a>
            </p>
          </div>
        </div>
          </span>
                    <span sec:authorize="isAuthenticated()">
          <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-small is-responsive">
										<span class="icon">
											<i class="fa fa-user"></i>
										</span>
                <span>
											Welcome <span sec:authentication="name">name?</span>
										</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-small is-info is-outlined is-responsive" th:href="@{/logout}">
										<span class="icon">
											<i class="fa fa-user"></i>
										</span>
                <span>Logout</span>
              </a>
            </p>
          </div>
        </div>
        </span>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--END OF HEADER-->
<!-- END NAV -->

<!--POCETAK ORIGINALNOG KODA-->
<div class="container">

    <h2>Write new comment</h2>
    <form action="#"
          th:action="@{/post/comment(idpost = ${post.id}, username = ${username})}"
          th:object="${postComment}"
          method="post">
        <input type="text" th:field="*{content}" placeholder="Insert comment">
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
        <input type="hidden" th:field="*{id}" th:value="0">

        <div class="control">
            <button class="button is-primary">Submit</button>
        </div>


    </form>
</div>
<!--KRAJ ORIGINALNOG KODA-->

<!--UBACENO NOVO ZA KOMENTAR-->
<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>Barbara Middleton</strong>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                <br>
                <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
            </p>
        </div>

        <article class="media">
            <figure class="media-left">
                <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Sean Brown</strong>
                        <br>
                        Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                        <br>
                        <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                    </p>
                </div>

                <article class="media">
                    Vivamus quis semper metus, non tincidunt dolor. Vivamus in mi eu lorem cursus ullamcorper sit amet nec massa.
                </article>

                <article class="media">
                    Morbi vitae diam et purus tincidunt porttitor vel vitae augue. Praesent malesuada metus sed pharetra euismod. Cras tellus odio, tincidunt iaculis diam non, porta aliquet tortor.
                </article>
            </div>
        </article>

        <article class="media">
            <figure class="media-left">
                <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Kayli Eunice </strong>
                        <br>
                        Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                        <br>
                        <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
</article>

<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="field">
            <p class="control">
                <textarea class="textarea" placeholder="Add a comment..."></textarea>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-primary">Post comment</button>
            </p>
        </div>
    </div>
</article>

<!--IZMIJENJENA BOJA BUTTONA U ZELENO-->
<hr>
<footer class="footer" style="background-color: rgb(232, 248, 245);">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns is-mobile is-centered">
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-primary" href="http://localhost:8080/">Web Blog M&C</a>
                            <span class="tag is-light">Valerija & Matija</span>
                        </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-primary" href="https://github.com/3Dbits/WebBlog_Project">Read more:</a>
                            <span class="tag is-light">Source code &nbsp;<i class="fa fa-github"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
