<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View comments of post</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/contact.css">
</head>

<body>
<!-- START NAV -->
<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <div class="media-left">
                    <p class="image is-100x100">
                        <img th:src="@{/logo/logo.png}"/>
                    </p>
                </div>
            </a>


            <!--SLOZEN NAV BAR S LOGOUT, HOMEPAGE I USERS-->
            <span class="navbar-burger burger" data-target="navbarMenu">
					<span></span>
					<span></span>
					<span></span>
				</span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item is-active" th:href="@{/}">Home</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Account</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item is-active" th:href="@{/users}">Profile</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item is-active" th:href="@{/logout}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- END NAV -->

<h1>View all posts</h1>
<a th:href="@{/showCommentForUpdate/{id}(id=${post.id})}">Add comment</a> <br>
<a th:href="@{/post/new}">Add Post</a> <br>
<!--<p th:if="${listOfAllPost.size() < 1}">
    <span>There's no posts</span>
</p-->
<table> <!--th:unless="${postComment.size() < 1}">-->
    <th>Post title</th>
    <th>Summary</th>
    <th>Created </th>
    <th>Updated</th>
    <th>Published</th>
  <!--  <th>Created by</th>-->
    <th>Actions</th>
    </thead>
    <tbody>
    <tr >
        <td th:text="${post.title}"></td>
        <td th:text="${post.summary}"></td>
        <td th:text="${post.createAt}"></td>
        <td th:text="${post.updateAt}"></td>
        <td th:text="${post.publishedAt}"></td>
       <!-- <td th:text="${post.user.getFirstName()}"></td>-->

        <td>
            <a th:href="@{/showFormForUpdate/{id}(id=${post.id})}">Update</a>

            <a th:data-confirm-delete="|Are you sure you want to delete this post ${post.title}?|"
               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
               th:href="@{/showFormForDelete/{id}(id=${post.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
    <ol>
        <li th:each="postC : ${post.postComment}">
            <span th:text="${postC.content}" />
            <a th:data-confirm-delete="|Are you sure you want to delete this comment?|"
               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
               th:href="@{/showFormForDelete/{id}(id=${postC.id})}">Delete</a>
            <br>
        </li>
    </ol>

<hr>
<!--IZMIJENJENA BOJA BUTTONA U ZELENO u footnotes-->
<hr>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns is-mobile is-centered">
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-primary" href="http://localhost:8080/">Web Blog M&C</a>
                            <span class="tag is-light">Valerija & Matija</span>
                        </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-primary" href="https://github.com/3Dbits/WebBlog_Project">Read more:</a>
                            <span class="tag is-light">Source code &nbsp;<i class="fa fa-github"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
</body>
</html>