<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<!--<head th:replace="/fragments/head :: head"></head>-->
<body>

<!--<div th:replace="/fragments/header :: header"></div>-->

<div class="container">

    <h2>Write new comment</h2>
    <form action="#"
          th:action="@{/post/comment(idpost = ${post.id}, username = ${username})}"
          th:object="${postComment}"
          method="post">
        <input type="text" th:field="*{content}" placeholder="Insert comment">
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
        <input type="hidden" th:field="*{id}" th:value="0">

            <button class="green-btn" type="submit">Send</button>
    </form>
</div>

<!--<footer th:replace="/fragments/footer :: footer"></footer>-->

</body>
</html>