<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web Blog V&M </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/forum.css">
</head>
<body>
<nav class="navbar is-white topNav" style="background-color: rgb(232, 248, 245);">
  <div class="container">
    <div class="container">
      <div id="topNav" class="navbar-menu">
        <div class="navbar-start">
          <div class="media-left">
            <p class="image is-84x84 navbar-item">
              <img th:src="@{/logo/logo.png}"/>
            </p>
          </div>
          <span>
        <a class="navbar-item" th:href="@{/}">Home</a>
          </span>
          <span sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="navbar-item" th:href="@{/users}">Users</a>
          </span>
          <span sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="navbar-item" th:href="@{/postList}">Control</a>
          </span>
        </div>
        <div class="navbar-end">
        <span sec:authorize="!isAuthenticated()">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-small is-responsive" th:href="@{/user/register}">
										<span class="icon">
											<i class="fa fa-user-plus"></i>
										</span>
                <span>
											Register
										</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-small is-info is-outlined is-responsive" th:href="@{/login}">
										<span class="icon">
											<i class="fa fa-user"></i>
										</span>
                <span>Login</span>
              </a>
            </p>
          </div>
        </div>
          </span>
          <span sec:authorize="isAuthenticated()">
          <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-small is-responsive">
										<span class="icon">
											<i class="fa fa-user"></i>
										</span>
                <span>
											Welcome <span sec:authentication="name">name?</span>
										</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-small is-info is-outlined is-responsive" th:href="@{/logout}">
										<span class="icon">
											<i class="fa fa-user"></i>
										</span>
                <span>Logout</span>
              </a>
            </p>
          </div>
        </div>
        </span>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--END OF HEADER-->
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-8 is-variable ">
        <div class="column is-half has-text-left">
          <h1 class="title is-1">Update Post</h1>
          <span>
            <br>
          </span>
          <figure class="image is-128x128">
            <img th:src="@{${post.pathOfPicture}}" alt="Image">
          </figure>
          <div class="content is-normal">
            <h1 th:text="${post.title}"></h1>
            <p th:text="${post.summary}"></p>
            <h2>Content:</h2>
            <p th:text="${post.content}"></p>
          </div>

        </div>


        <!-- INPUT FORM--><!--is-half-->

        <form action="#" th:action="@{/updatePost/{id}(id=${post.id})}" th:object="${post}" method="post">
          <div class="column is-half has-text-left"> </div>
            <div class="field">
              <label class="label">Post Title</label>
              <div class="control">
                <input class="input is-medium"  type="text" th:field="*{title}" placeholder="Insert title">
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
              </div>
            </div>
          <div>
            <br>
          </div>

            <!-- INPUT FORM-->

            <div class="field">
              <label class="label">Meta tag</label>
              <div class="control">
                <input class="input is-medium" type="text" th:field="*{metaTitle}" placeholder="Insert meta title">
                <p th:if="${#fields.hasErrors('metaTitle')}" th:errors="*{metaTitle}"></p>
                <div>
                  <br>
                </div>
              </div>
            </div>

            <!-- INPUT FORM BOX-->
            <div class="field">
              <label class="label">Summary</label>
              <div class="control">

                <textarea class="textarea is-medium" type="text" th:field="*{summary}" placeholder="Insert summary">
                <p th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}"></p>></textarea>

              </div>
            </div>
          <div>
            <br>
          </div>
          <!-- INPUT FORM BOX-->

          <div class="field">
            <label class="label">Change content</label>
            <div class="control">

                <textarea class="textarea is-large" type="text" th:field="*{content}" placeholder="Write content for your blog post">
                    <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p></textarea>

            </div>
          </div>
          <div>
            <br>
          </div>
          <!--BUTTON ZELENE BOJE-->
            <div class="control">
              <button type="submit" class="button is-primary is-fullwidth has-text-weight-medium is-medium">Save changes</button>
            </div>
        </form>
          </div>
    </div>
  </div>
</section>

<!--IZMIJENJENA BOJA BUTTONA U ZELENO-->
<hr>
<br>
<footer class="footer" style="background-color: rgb(232, 248, 245);">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns is-mobile is-centered">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons">
              <a class="tag is-primary" href="http://localhost:8080/">Web Blog M&C</a>
              <span class="tag is-light">Valerija & Matija</span>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons">
              <a class="tag is-primary" href="https://github.com/3Dbits/WebBlog_Project">Read more:</a>
              <span class="tag is-light">Source code &nbsp;<i class="fa fa-github"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>
