<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bulma.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>List of Users</title>
</head>
<body style="background-color: rgb(230, 238, 255);">
<nav class="navbar is-white topNav" style="background-color: rgb(204, 221, 255);">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="topNav">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="topNav" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" th:href="@{/}">Home</a>
            </div>
            <div class="navbar-end">
            </div>
        </div>
    </div>
</nav>
<br><br><br><br><br><br><br>

<div class="columns is-centered">
    <div class="box">
        <div class="content is-medium">
            <h1>Users:</h1>
        </div>
<table class="table">
    <thead>
        <th>User Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Active</th>
        <th>Role</th>
        <th>Action</th>
    </thead>
    <tfoot>
        <th>User Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Active</th>
        <th>Role</th>
        <th>Action</th>
    </tfoot>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <span th:each="userCred : ${userCredList}">
                <span th:if="${userCred.user.id == user.id}">
                    <span th:if="${userCred.enabled == 0}">No</span>
                    <span th:unless="${userCred.enabled == 0}">Yes</span>
                </span>
                </span>
        </td>
        <td>
            <span th:each="userCred : ${userCredList}">
                <span th:if="${userCred.user.id == user.id}">
                    <span th:text="${userCred.roles}"></span>
                </span>
                </span>
        </td>
        <td>
        <span th:each="userCred : ${userCredList}">
                <span th:if="${userCred.user.id == user.id}">
                    <a th:href="@{/users/{userCred}(userCred=${userCred.getId()})}">Update</a>
                </span>
        </span>
        </td>
    </tr>
    </tbody>
</table>
</div>
</div>
<br><br><br><br><br><br><br><br><br>
<footer class="footer" style="background-color: rgb(204, 221, 255);">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns is-mobile is-centered">
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-link" href="http://localhost:8080/">Web Blog M&C</a>
                            <span class="tag is-light">Valerija & Matija</span>
                        </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-link" href="https://github.com/3Dbits/WebBlog_Project">Read more:</a>
                            <span class="tag is-light">Source code &nbsp;<i class="fa fa-github"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>